<body>
  <div id="photo" style="text-align: center">
    <h1>UNIVERSIDAD INTERNACIONAL DE VALENCIA</h1>
    <br>
    <img style="vertical-align:middle" src="../../../assets/viucirc.jpg" alt="">
    <h4 style="vertical-align:middle">La Universidad Internacional de Valencia es una universidad privada de
      educación
      en línea. Su sede principal está en Valencia. Fue creada en 2008 por la Generalidad Valenciana como entidad
      privada sin ánimo de lucro, con el nombre Universidad Internacional Valenciana.Al igual que el resto de
      universidades españolas, está sujeta al ordenamiento universitario vigente. La actividad de la Universidad
      comenzó en 2009, después de que se aprobase el reglamento correspondiente.​ En 2013, la Generalidad vendió
      el
      70% de la sociedad al Grupo Planeta, que se hizo cargo de su gestión.</h4>
  </div>
</body>
