<div class="box">
  <video id="my-video" class="vjs-layout-large" controls preload="auto" responsive="true" width="640" height="480"
    poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
    <source
      src="https://bitmovin-a.akamaihd.net/content/MI201109210084_1/MI201109210084_mpeg-4_hd_high_1080p25_10mbits.mp4"
      type="video/mp4" />
    <!-- <source src="MY_VIDEO.webm" type="video/webm" />-->
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
  </video>
</div>
