<head>

</head>

<body>
  <nav class="menu_principal">
    <ul>
      <li [routerLinkActive]="['seleccionado']" [routerLinkActiveOptions]="{exact:true}"><a
          [routerLink]="['/']">INICIO</a></li>
      <!--
		     -->
      <li [routerLinkActive]="['seleccionado']"><a [routerLink]="['/bitmovin']">Bitmovin</a></li>
      <li [routerLinkActive]="['seleccionado']"><a [routerLink]="['/brid']">Brid TV</a></li>
      <li [routerLinkActive]="['seleccionado']"><a [routerLink]="['/clappr']">Clappr</a></li>
      <li [routerLinkActive]="['seleccionado']"><a [routerLink]="['/dashjs']">Dash JS</a></li>
      <li [routerLinkActive]="['seleccionado']"><a [routerLink]="['/flowplayer']">FlowPlayer</a></li>
      <li [routerLinkActive]="['seleccionado']"><a [routerLink]="['/fluid']">Fluid</a></li>
      <!--
		     -->

      <li [routerLinkActive]="['seleccionado']"><a [routerLink]="['/jwplayer']">Jwplayer</a></li>
      <!--
		     -->
      <li [routerLinkActive]="['seleccionado']"><a [routerLink]="['/nativo']">Nativo</a></li>
      <li [routerLinkActive]="['seleccionado']"><a [routerLink]="['/videojs']">VideoJS</a></li>


      <!--
      -->
    </ul>
  </nav>

  <body>
